<div id="moreModal" class="more-modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <div class="filter">Add more filters</div>
    </div>
</div>