<!-- Account/Profile Modal -->
<head>
    <link rel="stylesheet" href="CSS/profile.css">
</head>
<div id="accountModal" class="account-modal">
    <div class="account-modal-content">
        <div class="account-head">
            <span class="account-avatar"><img class="user-img" src="images/vader.jpg" alt=""></span>
            <span class="account-title">Timepass</span>
            <span class="account-close" id="closeAccountModal" title="Close">&times;</span>
        </div>
        <div class="account-section">
            <small>0/5 tasks</small>
            <span class="account-shortcut">O then P</span>
        </div>
        <hr>
        <div class="account-item"><i class="bi bi-gear"></i> Settings <span class="account-shortcut">O then S</span>
        </div>
        <div class="account-item"><i class="bi bi-people"></i> Add a team</div>
        <div class="account-item"><i class="bi bi-clock-history"></i> Activity log <span class="account-shortcut">G then
                A</span></div>
        <div class="account-item"><i class="bi bi-printer"></i> Print <span class="account-shortcut">Ctrl P</span></div>
        <div class="account-item"><i class="bi bi-gift"></i> What's new</div>
        <hr>
        <div class="account-item account-pro"><i class="bi bi-star"></i> Upgrade to Pro</div>
        <div class="account-item"><i class="bi bi-arrow-repeat"></i> Sync <span style="font-size:12px;">20 seconds
                ago</span></div>
        <div class="account-item"><i class="bi bi-box-arrow-right"></i> Log out</div>
        <hr>
        <div class="account-footer">
            <small>v8796 &middot; Changelog</small>
        </div>
    </div>
</div>