<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="CSS/addTask.css">
</head>

<body>
    <div class="create-task-container">
        <div class="task-details">
            <div class="task-description">
                Testing description..
            </div>
            <div class="task-btns">
                <div class="btn1">Btn1</div>
                <div class="btn2">Btn2</div>
                <div class="btn3">Btn3</div>
            </div>
            <div class="submission-task-btns">
                <div class="cancel">Cancel</div>
                <div class="addTask">Add task</div>
            </div>
        </div>
    </div>
</body>

</html>